body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #2caeff;
}

main{
    margin: 20px;
}

.navbar li{
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.navbar a:hover{
    color: rgb(11, 35, 82);
}

.navbar{
    background-color: rgb(192, 234, 255);
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-list{
    display: flex;
    gap: 60px;
}

.navbar .logo{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.action-btn{
    background-color: rgb(105, 233, 255);
    padding: 10px 20px;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.action-btn:hover{
    scale: 1.05;
    border-radius: 30px;
}

.action-btn:active{
    scale: 0.98;
    background-color: rgb(88, 229, 254);
}

/*RESPONSIVE DESIGN*/
@media (max-width:700px){
    .navbar .navbar-list,
    .navbar .action-btn {
        display: none;
    }
}