.contact-us-section1{
    position: relative;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.contact-us-section1 h1{
    color: rgb(5, 0, 62);
    font-size: min(3.5vw, 40px);
    max-width: 500px;
    margin: 0;
}

.contact-us-section1 p{
    color: rgb(62, 62, 62);
    font-size: min(2.5vw, 25px);
    max-width: 500px;
    text-align: center;
}

.contact-us-section1 form{
    flex-direction: column;
    gap: 30px;
}

.contact-us-section1 form label{
    color: rgb(5, 0, 62);
    font-size: min(2vw, 30px);
    max-width: 500px;
    font-weight: bold;
}

#name,#email,#message{
    border: 1px solid rgb(5, 0, 62);
    border-radius: 30px;
    font-size: min(2.5vw, 30px);
    padding: 5px 15px;
    width: 40vw;
}

#message{
    height: 150px;
    width: 50vw;
}

.contact-us-section1 form button{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 40px;
    color: rgb(5, 0, 62);
    font-size: min(2vw, 20px);
    width: min(20vw, 200px);
    height: 50px;
    cursor: pointer;
}

.contact-us-section1 form button:hover{
    border-color: rgb(65, 65, 65);
    scale: 0.98;
}

.contact-us-section1 form button:active{
    border-color: rgb(80, 80, 80);
    scale: 0.96;
}

@media(max-width: 850px){
    .contact-us-section1{
        margin-top: 30px;
    }

    .contact-us-section1 h1{
        font-size: min(4vw, 45px);
    }

    .contact-us-section1 p{
        font-size: min(3vw, 30px);
        max-width: 200px;
    }

    .contact-us-section1 form label{
        font-size: min(3vw, 30px);
    }

    #name,#email,#message{
        font-size: min(3vw, 30px);
        padding: 5px 15px;
        width: 50vw;
    }

    #message{
        height: 100px;
        width: 70vw;
    }

    .contact-us-section1 form button{
        border-radius: 40px;
        font-size: min(2vw, 20px);
        width: 100px;
        height: 40px;
        font-size: min(4vw, 25px);
    }
}