
.roboto-condensed-uniquifier {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 1;
    transition: 0.3s ease;
}
.navbar.scrolled{
    background-color: white;
    border-bottom: 3px solid rgba(212, 212, 212, 0.272);
}

ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.logo{
    width: 200px;
    margin-left: 10px;
}

.nav-option{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
}
.nav-option:hover{
    border: 2px solid black;
    background-color: rgba(255, 251, 0, 0.9);
}
.nav-option:active{
    background-color: rgba(255, 251, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.);
}

.navbar-sidecontent{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1.5px solid black;
    flex-shrink: 0;
}
.profile-button img{
    height: 75%;
}
.profile-button:hover{
    border-color: rgb(66, 66, 66);
}
.profile-button:active{
    scale: 0.95;
}

.contact-us{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 251, 0, 0.9);
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.3s;
    flex-shrink: 0;
}
.contact-us:hover{
    scale: 1.02;
}
.contact-us:active{
    scale: 0.98;
}

.img-container{
    margin-top: -70px;
    background-image: url(img/campus-aston-webb-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-container p{
    width: 70%;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    color: rgb(249, 249, 249);
    transition: 0.5s ease;
}
.img-container p.scrolled{
    opacity: 0%;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
    background-color: rgba(201, 201, 201, 0.2);
}

.section1-text{
    width: 40%;
    padding: 20px;
}

.section1-text h1{
    color: rgb(5, 0, 62);
    font-size: 26px;
}

.section1-text p{
    color: rgb(62, 62, 62);
    font-size: 18px;
}

.section1-text p::selection{
    color: rgb(0, 97, 153);
}

.section1-img{
    display: flex;
    align-items: center;
    height: 100%;
}

.section1-img img{
    border-radius: 5px;
    height: 80%;
    box-shadow: 0px 1px rgb(166, 166, 166);
}

.section2{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: Roboto Condensed;
}

.stat-link{
    color: black;
    text-decoration: none;
}

.stat-container{
    background-color: rgba(255, 255, 12, 0.727);
    width: 200px;
    height: 250px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 4px 6px rgb(197, 197, 197);
}
.stat-container:hover{
    scale: 1.1;
}

.stat-container p{
    font-size: 20px;
    text-align: center;
    width: 150px;
    margin-bottom: 0;
}

.ranking-text{
    font-size: 50px;
}

.divider1 {
    position: absolute;
    transform: rotate(0deg);
    fill: #ffffff;
    line-height: 0;
    width: 100%;
}

.divider1 svg{
    display: block;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #dbdbdb68;
    gap: 100px;
}

.section3-text h1{
    font-size: 26px;
    color: rgb(5, 0, 62);
}
.section3-text p{
    max-width: 600px;
    font-size: 18px;
    color: rgb(62, 62, 62);
    margin-bottom: 30px;
}
.section3-text a{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 12, 0.727);
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 20px;
}

.modules-container{
    width: 400px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 4px 6px rgb(197, 197, 197);
}

.modules-track{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    width: 300%;
}

.slide{
    width: calc(100%/3);
    flex-shrink: 0;
    height: 200px;
    background: #e8fdff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: 0.5s ease;
    cursor: pointer;
}
.slide h1{
    font-size: 30px;
    color: rgb(5, 0, 62);
}
.slide img{
    height: 80px;
}

.dots-container {
  text-align: center;
  margin-top: 35px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #4b5d5c;
}


@media (max-width: 850px) {
    .navbar ul{
        display: none;
    }

    .section1{
        flex-direction: column;
        text-align: center;
        height: 600px;
        gap: 0px;
    }

    .section2{
        flex-direction: column;
        height: 900px;
        gap: 30px;
    }

    .section3{
        flex-direction: column;
        height: 600px;
    }
}

@media (max-width: 1000px){
}